body{
    margin: 0;

}

.header{
    background-color: lightgrey;
    padding: 1.25rem;
    border-bottom: 5px solid #0885c6;
}

.conteiner{
    max-width: 95%;
    margin: 0 auto;
}

.main-menu{
    float: left;
}

.main-menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-menu li{
    display: inline;
    margin-right: 10px;
}

.header a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
}

.form-group{

}

.btn{

}

.profile{
    float: right;
}

.clearfix::after{
    content: '';
    display: block;
    clear: both;
}

.sidebar{
    float: left;
    width: 15rem;
    padding: 1rem;
    box-sizing: border-box;
}

.page-content{
    margin-left: 15rem;
    padding: 1rem;
}

.products-header{
    margin: 0;
}

.product-card{
    display: inline-block;
    height: 21.8rem;
    width: 31rem;
    border: 2px solid #0885c6;
    border-radius: 5px;
    background-color: rgb(240, 240, 240);
    margin: 0 0.625rem 0.625rem;
}

.product-image{
    float: left;
    width: 50%;
    height: 100%;

}

.product-image img{
    width: 100%;
    height: 100%;
}

.product-details{
    float: right;
    width: 50%;
    height: 100%;
    padding: 1rem;
    box-sizing: border-box;
}

.product-details header{
    font-size: 1.2rem;
    font-weight: bold;
}

.product-info{
    text-align: justify;
    font-size: 1.25;

}