body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 auto;;
    background-color: #f5f5f5c3;
    background-image: url(images/back.png);
}
 .form{
    background-color: #f5f5f5c3;
    border-radius: 10px;
    width: 150px;
 }